.checkbox-wrapper input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 1.6em;
    height: 1.6em;
    border-radius: 8px;
    margin-right: 0.5em;
    padding: 1em;
    outline: none;
    cursor: pointer;
}

.checkbox-wrapper input[type="checkbox"]:checked {
    background: url("/public/svg/icon-tick.svg") no-repeat center #EFEEEB;
    position: relative;
}

.check-label {
    position: relative;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 30px;
}

.check-label input {
    float:left
}

.check-box{
    background-color: #EFEEEB;
}
