.home-page-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content-container{
    display: flex;
    padding: 16px;
}

.side-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.content-container-mobile{
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.modal-btn{
    padding: 8px;
}

.margin-all{
    margin: 16px;
}

@media (max-width: 600px) {
    .footer-container{
        bottom: 0;
        position: relative;
        border-radius: 20px 20px 0 0;
    }
}
