.submit-btn {
    border-radius: 16px;
    border: none;
    background-color: #52B1B3;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 20px;
}
